.animal-card {
  width: var(--card-width);
  height: var(--card-height);
  border: 1px solid #fa6f32;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-bottom: 14px;
  transition: all 0.7s;
  &::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 38px;
  }
  &:hover {
    border: 1px solid #4b9200;
  }
  &:hover &__image-popup {
    bottom: 0;
    transition: bottom 0.3s;
  }
  &:hover &__image-container img {
    transform: scale(1.1);
  }
  &_banan::after {
    right: 3px;
    bottom: 11px;
    background: transparent url(../../assests/svg/banana-bamboo_icon.svg)
      no-repeat center center;
    background-size: contain;
  }
  &_meet::after {
    right: 8px;
    bottom: 13px;
    background: transparent url(../../assests/svg/meet-fish_icon.svg) no-repeat
      center center;
    background-size: contain;
  }
  &__image-container {
    width: var(--card-width);
    height: var(--card-width);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.7s;
    }
  }
  &__image-popup {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -56px;
    color: #fff;
    transition: bottom 0.7s;
  }
  &__description-title {
    margin: 0;
    margin-bottom: 1px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__description-native {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
  }
  &__description {
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
    transition: all 0.7s;
  }
}
@media (max-width: 1260px) {
  .animal-card__image-popup {
    bottom: -59px;
  }
}
@media (max-width: 860px) {
  .animal-card::after {
    width: 38px;
    height: 30px;
  }
  .animal-card_banan::after {
    right: 2px;
    bottom: 9px;
  }
  .animal-card__description-title {
    font-size: 12.4px;
    letter-spacing: 0.2px;
  }
  .animal-card__description-native {
    font-size: 11.6px;
    letter-spacing: -0.3px;
  }
}
