.backstage {
  padding-top: 140px;
  padding-bottom: 90px;
  background: url(../../assests/images/flower_foto1.png) no-repeat 100%;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__picture {
    width: 609px;
    height: 403px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    margin-top: -10px;
    width: 465px;
    font-weight: 400;
    color: #333b41;
  }
  &__title {
    margin-bottom: 22px;
    font-size: 48px;
    line-height: 120%;
    font-weight: 400;
  }
  &__description {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 21px;
  }
  &__details-titles {
    margin-bottom: 34px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }
  &__details-description {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 1600px) {
  .backstage {
    padding-top: 140px;
    padding-bottom: 180px;
    background: url(../../assests/images/flower_foto1.png) no-repeat
      calc(1600px - 12.75vw) 12px;
  }
}
@media (max-width: 1260px) {
  .backstage {
    padding-top: 110px;
    padding-bottom: 142px;
    background: transparent;
    &__container {
      width: 940px;
    }
    &__picture {
      width: 455px;
      height: 408px;
    }
    &__text {
      width: 455px;
    }
    &__title {
      line-height: 58px;
      margin-bottom: 20px;
    }
    &__details-title {
      margin-bottom: 35px;
    }
    &__details-description {
      width: 98%;
    }
  }
}
@media (max-width: 999px) {
  .backstage {
    padding-top: 69px;
    padding-left: 48px;
    background: url(../../assests/images/flower_foto1.png) no-repeat right -7px;
    &__container {
      width: auto;
    }
    &__picture {
      display: none;
    }
    &__description {
      line-height: 21px;
      margin-bottom: 30px;
    }
    &__details-titles {
      line-height: 29px;
      margin-bottom: 20px;
    }
    &__details-description {
      width: 495px;
      line-height: 22px;
    }
    &__text {
      margin-top: -10px;
    }
  }
}
@media (max-width: 860px) {
  .backstage {
    padding-left: 24px;
    background: url(../../assests/images/flower_foto1.png) no-repeat
      calc(640px - 1vw) 12px;
  }
}
@media (max-width: 639px) {
  .backstage {
    padding-top: 148px;
    padding-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
    background: url(../../assests/images/flower_foto1.png) no-repeat 116% 72px;
    background-size: 22%;
    &__container {
      max-width: 300px;
    }
    &__text {
      width: auto;
    }
    &__title {
      margin-top: 0px;
      margin-bottom: 10px;
      max-width: 300px;
      font-size: 24px;
      line-height: 29px;
    }
    &__description {
      margin-left: 0;
      margin-bottom: 20px;
      max-width: 300px;
      line-height: 21px;
    }
    &__details-titles {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
    }
    &__details-description {
      width: auto;
      margin-left: -1px;
    }
  }
}
