.footer {
  background: #111115;
  padding-top: 40px;
  padding-bottom: 50px;
  &__container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto 143px;
    grid-row-gap: 36px;
    grid-template-areas:
      'logo . . form'
      'donate-button . . .'
      'social menu menu designed';
  }

  &__logo {
    grid-area: logo;
  }
  &__form {
    grid-area: form;
    color: #fff;
    margin-left: auto;
    display: inline-block;
    &-title {
      margin: 0;
      margin-bottom: 14px;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;
    }
    &-email {
      width: 228px;
      height: 42px;
      color: #f1f3f2;
      border-radius: 2px;
      border: 1px solid #f9804b;
      font-weight: 400;
      font-size: 16px;
      background: transparent;
      outline: none;
      margin-right: 6px;
      padding-left: 8px;
    }
    &-submit-button {
      width: 129px;
      height: 42px;
      background: #f1f3f2;
      color: #000;
      border: 1px solid #000;
      border-radius: 5px;
      &:active {
        color: #4b9200;
      }
    }
  }
  &__donate-button {
    grid-area: donate-button;
    display: block;
  }
  &__social {
    grid-area: social;
    align-self: end;
  }
  &__menu {
    grid-area: menu;
    justify-self: end;
    align-self: end;
    height: var(--menu-height);
  }
  &__designed {
    grid-area: designed;
    justify-self: end;
    align-self: end;
    font-weight: 100;
    font-size: 16px;
    line-height: 200%;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: -0.3px;
    line-height: 21px;
    span {
      width: auto;
      display: block;
      margin-left: auto;
      &:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
}
.social {
  width: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  &__link {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
    &:hover {
      color: #fe9013;
      .social__icon {
        &-facebook {
          background: url(../assests/svg/facebook.svg) no-repeat,
            rgb(254, 144, 19);
          background-position: center center;
        }
        &-twitter {
          background: rgb(254, 144, 19) url(../assests/svg/twitter.svg)
            no-repeat center center;
        }
        &-instagram {
          background: rgb(254, 144, 19) url(../assests/svg/instagram.svg)
            no-repeat center center;
        }
        &-youtube {
          background: rgb(254, 144, 19) url(../assests/svg/youtube.svg)
            no-repeat center center;
        }
      }
    }
    &:active {
      color: #4b9200;
      text-decoration: none;
      .social__icon {
        &-facebook {
          background: url(../assests/svg/facebook.svg) no-repeat, #4b9200;
          background-position: center center;
        }
        &-twitter {
          background: #4b9200 url(../assests/svg/twitter.svg) no-repeat center
            center;
        }
        &-instagram {
          background: #4b9200 url(../assests/svg/instagram.svg) no-repeat center
            center;
        }
        &-youtube {
          background: #4b9200 url(../assests/svg/youtube.svg) no-repeat center
            center;
        }
      }
    }
    .social__name {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .social__icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    &-facebook {
      background: url(../assests/svg/facebook.svg) no-repeat,
        rgba(196, 196, 196, 0.5);
      background-position: center center;
    }
    &-twitter {
      background: rgba(196, 196, 196, 0.5) url(../assests/svg/twitter.svg)
        no-repeat center center;
    }
    &-instagram {
      background: rgba(196, 196, 196, 0.5) url(../assests/svg/instagram.svg)
        no-repeat center center;
    }
    &-youtube {
      background: rgba(196, 196, 196, 0.5) url(../assests/svg/youtube.svg)
        no-repeat center center;
    }
  }
}

.footer__menu {
  grid-area: menu;
  justify-self: end;
  align-self: end;
  height: var(--menu-height);
}
@media (max-width: 1260px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .footer__container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    grid-template-areas:
      'logo . form form'
      'donate-button donate-button . .'
      'social menu menu designed';
  }
  .footer__form {
    margin-left: 0;
    margin-right: -87px;
    justify-self: center;
  }
  .footer__menu {
    margin-right: 31px;
  }
}
@media (max-width: 999px) {
  .footer {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .footer__container {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: 84px auto 94px;
    grid-row-gap: 0;
    grid-template-areas:
      'logo social'
      'donate-button social'
      'menu designed';
  }
  .footer__form {
    display: none;
  }
  .social {
    width: auto;
    row-gap: 20px;
  }
  .footer__social {
    margin: 0;
    justify-self: end;
  }
  .social__name {
    display: none;
  }
  .footer__menu {
    margin: 0;
    justify-self: start;
    .navbar {
      ul {
        gap: 37px;
      }
    }
  }
}
@media (max-width: 639px) {
  .footer {
    padding-top: 22px;
    padding-bottom: 30px;
  }
  .footer__container {
    width: 320px;
    padding-left: 11px;
    padding-right: 11px;
    grid-row-gap: 40px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 20px;
    grid-template-areas:
      'logo'
      'social'
      'form'
      'donate-button'
      'designed'
      'menu';
    justify-items: center;
  }
  .logo_footer {
    width: auto;
    max-width: none;
    height: auto;
    border: none;
    & a {
      line-height: 23px;
      &::after {
        left: 70px;
        bottom: 4px;
      }
    }
  }
  .footer__form {
    display: block;
    margin: 0;
    &-title {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
    button {
      margin-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .social {
    flex-direction: row;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-top: -10px;
  }
  .social__link {
    margin: 0;
  }
  .footer__social {
    justify-self: center;
  }
  .footer__designed {
    margin: 0;
    margin-right: 2px;
    font-size: 15px;
    line-height: 18px;
    align-self: start;
    font-weight: 100;
    span {
      width: auto;
      display: block;
      margin-left: auto;
      &:nth-child(1) {
        margin-bottom: 13px;
      }
    }
  }
  .footer__menu {
    margin-top: 0;
    justify-self: center;
    align-self: start;
    .navbar {
      ul {
        gap: 30px;
        a {
          font-weight: 400;
        }
      }
    }
  }
}
